* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
	font-size: 16px;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: green;
}

body {
	font-family: Verdana, Arial;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;

}

.wrapper{
	position: absolute;
	top:0;
	margin: 0 auto;
    width: 100vw;
    height: 100vh;
	background-color: red;
}

header {
	position: relative;
	top:0;
	left: 0;
	height: 10%;
	min-height: 55px;
	width: 100%;
	font-size: 1em;
	color: white;
	padding: 8px 45px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	background-color: #8dabff;
	z-index: 1;
}

h2 {
	font-size: 1.1rem;
}

h2.top-title {
	margin-top: 2px;
	margin-bottom: 3px;
	line-height: 1.1;
}

p {
	font-size: 1.0rem;
}

header p {
	margin-top: 0;
}

@media screen and (min-width:480px) and (orientation: landscape) {
	h2.top-title {
		max-width: 25%;
		float: left;
		margin-right: 25px;
	}

	header p {
		float: left
	}
}

.container {
	position: absolute;
	top: 10%;
	width: 100%;
	background-color: #cbc9c8;
	min-height: 400px;
	height: 90%;
}
/*navigation*/
button {
	padding: 24px 5px;
	border: none;
	font-size: 1.1em;
}

@media screen and (max-device-width:320px) and (orientation: portrait) {
	button {
		font-size: 0.75rem;
	}
}

.top-menu {
	margin-top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 15%;
}

.prev_btn, .first_btn , .next_btn {
	flex-grow: 1;
	top: 0;
	height: 100%;
	width: 33%;
	margin:0;
	border-collapse: collapse;
}

.prev_btn {
	background-color: #dd8dff;
}
.first_btn {
	background-color: #dd8dff;
}
.next_btn {
	background-color: #dd8dff;
}

.prev_btn:active, .first_btn:active, .next_btn:active {
	background-color: #c97beb;
}

.prev_btn, .first_btn {
	border-right: 1px solid #9f71b3;
}

.side-buttons {
    background-color: red;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 70%;
    width: 25%;
    top: 15%;
    right: 0;
}

@media screen and (max-width:360px) and (orientation: portrait) {
.side-buttons {
	width: 28%;
}	
}

.draw_btn_group {
	flex-grow: 1;
}

button.char_btn {
	top:16%;
	background-color: #ffab8d;
}

button.char_btn:active {
	background-color: #de8e71;
}

.pron_btn {
	top:40%;
	background-color: #cc8971;
}

button.pron_btn:active {
	background-color: #b17863;
}

.transl_btn {
	top:60%;
	background-color: #a9705c;
	word-wrap: break-word;
}

.transl_btn:active {
	background-color: #825444;
}

.answer_btn {
	position: absolute;
	left: 0;
	bottom:0;
	height: 15%;
	width: 100%;
	background-color: #848484;
}
button.answer_btn:active {
	color:#a6a6a6;
	background-color: #6d6c6c;
}

main {
	width: 85%;
	height: 70%;
	overflow: hidden;
}

@media screen and (max-width:360px) and (orientation: portrait) {
	main {width: 82%;}
}

.word-item:first-child {
	font-size: 4.9rem;
}
.word-item {
	width: 80%;
	margin: 20px;
	clear: left;
	font-size: 1.04rem;
}

@media screen and (max-width:320px) and (orientation: portrait) {
	.word-item {
		font-size: 0.9rem;
	}
}

.word-item_id {
	position: absolute;
	right: 32%;
	bottom: 18%;
	font-size: 0.8rem;
	color: #9c9c9c;
	z-index: 5;
}

@media screen and (max-width:360px) and (orientation: portrait) {

	.word-item:first-child {
		border-bottom: 2px black dotted;
		font-size: 3.2rem;
	}	
}

.progress {
	background-color: #a6a6a6;
	float: left;
	position: relative;
	left: 0;
	width: 0;
	height: 3px;
	animation: showprogress 6s linear forwards;
	clear: both;
	border:none;
}

@keyframes showprogress {
	0% {width: 0;}
	100% {width: 100%;}
}

/*aside*/

     /*****/
   /*******/
  /**/  /**/
 /*********/
/**/   /**/
/**/   /**/

aside {
	position: fixed;
	top: 5px;
	right: 0;
	width:60vw;
	/*height: 65vh;*/
	/*overflow: hidden;*/
	z-index: 2;
}

ul.sidebar-nav{
	position: relative;
	width: 100%;
	top:35px;
	right: -100%;
	margin-top: 2vh;
	list-style-type: none;
	transition-duration: 0.3s;
	height: 20px;
}


ul.sideMenuIn{
	right: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	/*animation: slidein-a 400ms ease-in normal forwards;*/

}

.sideMenuOut{
/*	right: -100%;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;*/
	/*animation: slidein-b 700ms ease-in reverse both;*/
}

@keyframes slidein-a {
	0%{right: -100%; display: none;}
	1% {display: block;}
	100%{display: block; right: 3%;}
}


@keyframes slidein-b {
	0%{right: -100%; display: none;}
	1% {display: block;}
	100%{display: block; right: 3%;}
}

ul.sidebar-nav li{
	display: block;
	position: relative;
	white-space: nowrap;
	right: 0;
	width: 94%;
	margin: 0;
}

ul.sidebar-nav li button {
	width: 100%;
	height: 7.2vh;
	background-color: #7c8bb5;
	font-weight: 600;
	color: #e2e0c3;
	border-radius: 5px;
	border-bottom: 1px solid #292f3e;
	padding: 7px
}

ul.sidebar-nav li button:active {
	background-color: #627096;
}

.hamburger-nav {
	position: absolute;
	top: 8px;
	right: 16px;
	background-color: #7c8bb5;
	width: 40px;
	height: 40px;
	border-radius: 10%;
}

.hamburger-nav span {
	position: relative;
	margin: 0 auto;
	top:35%;
	background-color: white;
	display: block;
	width: 75%;
	height: 4px;
}

.hamburger-nav::before {
	content: '';
	position: relative;
	margin: 0 auto;
	top:20%;
	background-color: white;
	display: block;
	width: 70%;
	height: 4px;
}

.hamburger-nav::after {
	content: '';
	position: relative;
	margin: 0 auto;
	top:50%;
	background-color: white;
	display: block;
	width: 70%;
	height: 4px;
}


