html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: green;
}

body {
	font-family: Verdana, Arial;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;

}

header {
	position: fixed;
	top:0;
	left: 0;
	height: 15%;
	width: 100%;
	font-size: 6em;
	color: white;
	padding: 12px 45px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	background-color: #8dabff;
}

h2 {
	font-size: 2.5rem;}
p {font-size: 1rem;}

.container {
	position: absolute;
	top: 15%;
	width: 100%;
	background-color: #cbc9c8;
	min-height: 400px;
	height: 85%;
}
/*navigation*/
button {
	padding: 30px 15px;
	border: none;
	font-size: 2em;
}

.prev, .next {
	position: relative;
	top: 0;
	height: 20%;
	width: 50%
}

.prev {
	background-color: #dd8dff;
}

.next {
	background-color: #c97beb;
}

button.char_btn {
	position: absolute;
	right: 0;
	top:20%;
	height: 20%;
	width: 25%;
	background-color: #ffab8d;
}

button.char_btn:active {
	background-color: #de8e71;
}

.pron_btn {
	position: absolute;
	right: 0;
	top:40%;
	height: 20%;
	width: 25%;
	background-color: #cc8971;
}

button.pron_btn :active {
	background-color: #b17863;
}

.answer_btn {
	position: absolute;
	left: 0;
	bottom:0;
	height: 20%;
	width: 100%;
	background-color: #848484;
}
button.answer :active {
	background-color: #a5a5a5;
}

main {width: 85%;}

.word-item:first-child {
	font-size: 6rem;
}
.word-item {
	width: 80%;
	margin: 30px;
	font-size: 30px;
}

@media screen and (max-device-width:360px) and (orientation: portrait) {

	.word-item:first-child {
		border-bottom: 2px black dotted;
		font-size: 8rem;
	}	
}