html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: green;
}

body {
	font-family: Verdana, Arial;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;

}

header {
	position: fixed;
	top:0;
	left: 0;
	height: 15%;
	width: 100%;
	font-size: 6em;
	color: white;
	padding: 12px 45px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	background-color: #8dabff;
}

h2 {
	font-size: 2.5rem;}
p {font-size: 1.2rem;}

.container {
	position: absolute;
	top: 15%;
	width: 100%;
	background-color: #cbc9c8;
	min-height: 400px;
	height: 85%;
}
/*navigation*/
button {
	padding: 30px 15px;
	border: none;
	font-size: 2em;
}

.prev_btn, .first_btn , .next_btn {
	position: relative;
	display: table-cell;
	top: 0;
	height: 20%;
	width: 33%;
	float: left;
	margin:0;
	border-collapse: collapse;
}

.first_btn {
	width: 33.8%;
}

.prev_btn {
	background-color: #dd8dff;
}
.first_btn {
	background-color: #dd8dff;
}
.next_btn {
	background-color: #dd8dff;
}

.prev_btn:active, .first_btn:active, .next_btn:active {
	background-color: #c97beb;
}

.prev_btn, .first_btn {
	border-right: 1px solid #5f3073;
}

.draw_btn_group {
	position: absolute;
	right: 0;
	height: 20%;
	width: 25%;
}

button.char_btn {
	top:20%;
	background-color: #ffab8d;
}

button.char_btn:active {
	background-color: #de8e71;
}

.pron_btn {
	top:40%;
	background-color: #cc8971;
}

button.pron_btn:active {
	background-color: #b17863;
}

.transl_btn {
	top:60%;
	background-color: #a9705c;
}

.transl_btn:active {
	background-color: #825444;
}

.answer_btn {
	position: absolute;
	left: 0;
	bottom:0;
	height: 20%;
	width: 100%;
	background-color: #848484;
}
button.answer_btn:active {
	color:#a6a6a6;
	background-color: #6d6c6c;
}

main {width: 85%;}

.word-item:first-child {
	font-size: 6.3rem;
}
.word-item {
	width: 80%;
	margin: 30px;
	clear: left;
	font-size: 30px;
}
.word-item_id {
	position: absolute;
	right: 40%;
	bottom: 25%;
	font-size: 1.6rem;
	color: #9c9c9c;
	z-index: 5;
}

@media screen and (max-device-width:360px) and (orientation: portrait) {

	.word-item:first-child {
		border-bottom: 2px black dotted;
		font-size: 8rem;
	}	
}

.progress {
	background-color: #a6a6a6;
	float: left;
	position: relative;
	left: 0;
	width: 0;
	height: 3px;
	animation: showprogress 6s linear forwards;
	clear: both;
	border:none;
}

@keyframes showprogress {
	0% {width: 0;}
	100% {width: 100%;}
}